* {
    color: #ececec;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

.app {
    background-color: #212121;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}